body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(0, 0%, 21%, 0.886);
    border-radius: 15px;
    width: 50%;
    height: 70%;
    overflow: hidden;
    text-align: center;
}

#display{
    width: 90%;
    padding: 20px;
    font-size: 3rem;
    text-align: right;
    border: none;
    margin: 20px 0px;
    color: black; 
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
max-width: 100px;
max-height: 100px;
border-radius: 50px;
border: none;
background-color: white;
font-size: 3rem;
font-weight: bold;
cursor: pointer;

padding: 5px;
}

button:hover{
    background-color: hsla(0, 0%, 82%, 0.71);
}

button:active{
    background-color: hsla(0, 0%, 82%, 0.495);
    scale: 1.1;
}

.opratorBtn{
    background-color: orange;
    color: white;
}

.opratorBtn:hover{
    background-color: rgba(255, 166, 0, 0.655);
}


